body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    background: linear-gradient(#fa7923, #000000);
}

#container img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#background {
    z-index: 1;
    animation: wind 5s infinite ease;
}

#man {
    z-index: 2;
    transform-origin: 40% 90%;
    animation: shake 3s infinite ease;
}

#girl {
    z-index: 3;
    transform-origin: 65% 20%;
    animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
    0% {transform: rotate(45deg);}
    50% {transform: rotate(-45deg);}
    100% {transform: rotate(45deg);}
}

@keyframes wind {
    0% {transform: translateY(-5px) translateX(-5px) rotate(.5deg);}
    50% {transform: translateX(2px) translateY(5px) rotateZ(-.5deg);}
    100% {transform: translateX(-5px) translateY(-5px) rotate(.5deg);}
}

@keyframes shake {
    0% {transform: rotate(-12deg);}
    50% {transform: translateX(-10px) rotateY(10deg);}
    100% {transform: rotate(-12deg);}
}