body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(resources/mountains/mountain_background.jpg);
    background-size: cover; */
    mix-blend-mode: multiply;
}

#container img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

#background {
    z-index: 1;
    animation: wind 10s infinite ease;
}

#orange {
    z-index: 2;
    animation: shake 3s infinite ease;
}

#blue {
    z-index: 3;
    animation: flicker 2s infinite ease;
}

#foreground {
    z-index: 4;
    animation: flicker 1s infinite ease-out; /* TODO make better animation */
}

@keyframes wind {
    0% {transform: translateY(-5px) translateY(-1px) rotate(.1deg);}
    50% {transform: translateX(2px) translateY(5px) rotateZ(-.1deg);}
    100% {transform: translateX(-5px) translateY(-1px) rotate(.1deg);}
}

@keyframes flicker {
    0% {transform: translateX(-2px) translateY(-1px) rotate(.1deg);}
    50% {transform: translateX(2px) translateY(1px) rotateZ(-.1deg);}
    100% {transform: translateX(-2px) translateY(-1px) rotate(.1deg);}
}

@keyframes shake {
    0% {transform: translateX(-2px) rotate(.1deg);}
    50% {transform: translateX(2px) rotateY(-.1deg);}
    100% {transform: translateX(-2px) rotate(.1deg);}
}
