body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* mix-blend-mode: difference; */
    /* background: rgb(206, 191, 124); */
}

#container {
    background: rgb(206, 191, 124);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

#container img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    mix-blend-mode: difference;
}

#background {
    z-index: 1;
    animation: wind 10s infinite ease;
}

#orange {
    z-index: 2;
    animation: shake 3s infinite ease;
}

#blue {
    z-index: 3;
    animation: flicker 2s infinite ease;
}

#foreground {
    z-index: 4;
    transform-origin: 50% 100%;
    animation: trees 500ms infinite ease-out; /* TODO make better animation */
}

@keyframes wind {
    0% {transform: translateY(-5px) translateY(-1px) rotate(.1deg);}
    50% {transform: translateX(2px) translateY(5px) rotateZ(-.1deg);}
    100% {transform: translateX(-5px) translateY(-1px) rotate(.1deg);}
}

@keyframes flicker {
    0% {transform: translateX(-2px) translateY(-1px) rotate(.1deg);}
    50% {transform: translateX(2px) translateY(1px) rotateZ(-.1deg);}
    100% {transform: translateX(-2px) translateY(-1px) rotate(.1deg);}
}

@keyframes shake {
    0% {transform: translateX(-2px) rotate(.1deg);}
    50% {transform: translateX(2px) rotateY(-.1deg);}
    100% {transform: translateX(-2px) rotate(.1deg);}
}

@keyframes trees {
    0% {transform: translateX(-0.5px) rotate(.1deg);}
    50% {transform: translateX(0.5px) rotate(-.1deg);}
    100% {transform: translateX(-0.5px) rotate(.1deg);}
}